/* ========================================
 * Checkbox
 * ====================================== */

.cart__select-all-checkbox:checked + .cart__select-all-label
  .cart__checkbox-box,
.cart__checkbox-input:checked + .cart__checkbox-label {
  color: white;
  background: var(--color-plum-700);
  border-color: var(--color-plum-700);
}

.cart__select-all-checkbox:checked
  + .cart__select-all-label
  .cart__checkbox-check,
.cart__checkbox-input:checked + .cart__checkbox-label .cart__checkbox-check {
  display: block;
}

/* ========================================
 * Keyboard Focus
 * ====================================== */

.cart__select-all-checkbox:focus-visible + .cart__select-all-label
  .cart__checkbox-box,
.cart__checkbox-input:focus-visible + .cart__checkbox-label {
  outline: 2px solid var(--color-plum-600);
  outline-offset: 3px;
}
